* {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 95vh;
  width: 50vw;
  margin-top: 5vh;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

td:hover,
th:hover {
  background-color: blue;
  color: white;
}



th {
  cursor: pointer;
  
}

.id{
    width: 5rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
